// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
	margin: 0 auto;
	background:#ffffff;
	padding:10px;
	background-image: image-url("cork.jpg");
	border-radius:20px;
}
.item {

  margin: 10px;
  float: left;
  -moz-box-shadow: 1px 1px 3px #888;
-webkit-box-shadow: 1px 1px 3px #888;
box-shadow: 1px 1px 3px #888;
opacity:0.5;
border-radius:5px;
overflow:hidden;

}
.item:hover{
	border:10px solid #fcd;
	margin:0;
			z-index:98;
}

img.fashion{

	float:left;
}
.elementui{
	display:none;
}


#overlay{
	display:none;
	position:fixed;
	z-index:99;

top:0;
bottom:0;
left:0;
right:0;

}
#overlay-bg{
z-index:-1;
position:absolute;
		opacity:0.9;
	background:#000;
top:0;
bottom:0;
left:0;
right:0;
}
#bigimage-container{
	margin-top:50%;
	height:100%;
	width:100%;
}
.bigimage{
	margin-top:-50%;
	opacity:0;
}
