// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.fashion{
	width:100%;
	float:left;
}
.elementui{
	display:none;
}
.fashion-img-container{
	float:left;
	overflow:hidden;
	height:80px;
	width:80px;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow: 1px 1px 3px #888;
	box-shadow: 1px 1px 3px #888;
	
}
.fashion-img-container:hover{
		transform: rotate(0deg) !important;
		-ms-transform: rotate(0deg) !important; /* IE 9 */
		-webkit-transform: rotate(0deg) !important; /* Safari and Chrome */

	}
#overlay{
	display:none;
	position:absolute;
	z-index:99;
	opacity:0.9;
	background:#000;
top:0;
bottom:0;
left:0;
right:0;
}