// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination{
	margin: 20px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 150%;
	a{
	padding:10px;
	border-radius:5px;
	text-decoration:none;
	}
	a:hover{

	}
}
#bigimage-editlink{
letter-spacing:0.1em;
	color:#ccc;
	&:visited {
    color: #bbb;
  }
  &:hover {
    color: #fcd;
  
  }

}

h1{
	text-transform: uppercase;
letter-spacing: 1.5em;
color:#eee;
font-weight:normal;
font-size:250%;
margin-bottom:1.5em;
line-height:1.5em;
}
#container{
margin: 0 auto;
padding: 0px;
background-position-x: 5px;
background-image: url(/assets/grid.png);
min-width:400px;
}
.item {

  margin: 10px;
  

  -moz-box-shadow: 1px 1px 3px #888;
-webkit-box-shadow: 1px 1px 3px #888;
box-shadow: 1px 1px 3px #888;
opacity:0.5;
border-radius:0px;
overflow:hidden;

}
p#bigimage-caption{
	font-weight: 700;
color: #fff;
font-size: 150%;
letter-spacing: 0.3em;
text-transform: uppercase;
}
.item:hover{
	border:10px solid #fcd;
	margin:0;
			z-index:98;
}

img.fashion{

	float:left;
}
.elementui{
	display:none;
}


#overlay{
	display:none;
	position:fixed;
	z-index:99;
padding-top: 50%;
top:0;
bottom:0;
left:0;
right:0;

}
#overlay-bg{
z-index:-1;
position:absolute;
		opacity:0.9;
	background:#000;
top:0;
bottom:0;
left:0;
right:0;
}
#bigimage-container{
	margin-top: -10%;
	height:100%;
	width:100%;
}
.bigimage{
	margin-top:-50%;
	opacity:0;
}
