<!DOCTYPE html>
<html>
<head>
  <title>Fashionfeed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <meta name = "viewport" content = "width=500">
</head>
<body>

<%= yield %>

</body>
</html>
